.App {
  
  width: 100%;
  
  height: 100%;
  background-color: rgb(63, 63, 63);
  overflow-y: scroll;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-header nav {
  margin-top: 10px;
}

.App-header button {
  margin: 0 10px;
  padding: 5px 10px;
}

.App-main {
  margin-top: 20px;
}



.primary-btn {
  padding: 5px 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: 1px solid #007bff;
}
.primary-btn:hover {
  color: #007bff;
}
.signout-btn {
  border-radius: 7px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 1em;
  outline: 1px solid #f44336;
}
.signout-btn:hover {
  color: #f44336;
}
input, p, h1, h2, h3, h4, h5, h6, button, a {
  font-family: inherit;
  color: wheat;
}