.home{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: auto;
}

.card{
    border: 1px solid #b1c2fa;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    
}
.card p{
    font-size: 1em;
    padding: 5px;
}
.clickable{
    cursor: pointer;
    background-color: #f9f9f9;

}
.clickable:hover{
    background-color: #f1f1f1;
}
.username{
    font-size: 2.5em;
    padding: 5px;
    text-transform: capitalize;
    font-weight: bold;
}